input {
  width: 100%;
}
.attendance {
    width: 300px;
    color: red;
}

.dashboard{
    color: #2C514C;
    background-color: #9ec5ab;
    border: 2px solid  #2C514C;
    border-radius: 5px;
}
.mybutton {
    position: relative;
    border-radius: 18px;
    background-color: #2C514C;
    border: solid 2px transparent;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: all .1s ease-in-out;
}
    
    .mybutton:hover {
      color: #2C514C;
      background-color: #fff;
      border-color: #2C514C;
      transition: all .1s ease-in-out;
    }
    
    .mybuttonCancel {
        position: relative;
        border-radius: 18px;
        background-color: transparent;
        border: solid 2px  #2C514C;
        color:  #2C514C;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
        transition: all .1s ease-in-out;
      }
        
        .mybuttonCancel:hover {
          color: #fff;
          background-color: red;
          border-color: red;
          transition: all .1s ease-in-out;
        }
      
      .Modal {
        position: absolute;
        top: 20%;
        bottom: auto;
        background-color: white;
        width: 100%;
        font-weight: bold;
        color: #2C514C;
      }
      
      @media (min-width: 768px){
      
      .Modal {
        position: absolute;
        top: 20%;
        left: 10%;
        right: auto;
        bottom: auto;
        border-radius: 20px;
        border: 2px solid black;
        width: 80%;
      }
      
      }  
      .fancy-checkbox input[type="checkbox"],
      .fancy-checkbox .checked {
        display: none;
        
      }
      .fancy-checkbox input[type="checkbox"]:checked ~ .checked {
        display: inline-block;
        /* color: red; */
      }

      .fancy-checkbox input[type="checkbox"]:checked ~ .unchecked {
        display: none;
        
      } 
  