.attendance {
    width: 300px;
    color: red;
}

.dashboard{
    color: #2C514C;
    background-color: #9ec5ab;
    border: 2px solid  #2C514C;
    border-radius: 5px;
}
.mybutton {
    position: relative;
   
    
   
    border-radius: 18px;
    background-color: #2C514C;
    border: solid 2px transparent;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: all .1s ease-in-out;
}
    
    .mybutton:hover {
      color: #2C514C;
      background-color: #fff;
      border-color: #2C514C;
      transition: all .1s ease-in-out;
    }
    
  