.dashboard {
  color: #2c514c;
  background-color: #9ec5ab;
  border: 2px solid #2c514c;
  border-radius: 5px;
}
.mybutton {
  position: relative;
  border-radius: 18px;
  background-color: #2c514c;
  border: solid 2px transparent;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.mybutton:hover {
  color: #2c514c;
  background-color:  #fff;
  border-color: #2c514c;
  transition: all 0.1s ease-in-out;
}

.editRemove {
  border: none;
  background-color: transparent;
}

.editRemove:focus {
    outline: none;
}

.mybuttonCancel {
  position: relative;
  border-radius: 18px;
  background-color:  #fff;
  border: solid 2px  #2C514C;
  color:  #2C514C;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: all .1s ease-in-out;
}
  
  .mybuttonCancel:hover {
    color: #fff;
    background-color: red;
    border-color: red;
    transition: all .1s ease-in-out;
  }

.Modal {
  position: absolute;
  top: 20%;
  bottom: auto;
  background-color: white;
  width: 100%;
  font-weight: bold;
  color: #2C514C;
}

@media (min-width: 768px){

.Modal {
  position: absolute;
  top: 20%;
  left: 24%;
  right: auto;
  bottom: auto;
  border-radius: 20px;
  border: 2px solid black;
  width: 52%;
}

}
.edits {
  -ms-flex: 0 0 90px;
  flex: 0 0 90px;
}

.addStudent {
  -ms-flex: 0 0 250px;
  flex: 0 0 250px;
}