.mybutton {
    position: relative;
    border-radius: 18px;
    background-color: #2C514C;
    border: solid 2px transparent;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: all .1s ease-in-out;
    outline: none;
  }
  .mybutton:focus {
    outline: none;
  }
    
    .mybutton:hover {
      color: #2C514C;
      background-color: transparent;
      border-color: #2C514C;
      transition: all .1s ease-in-out;
    }
  
    .mybuttonCancel {
      position: relative;
      border-radius: 18px;
      background-color: transparent;
      border: solid 2px  #2C514C;
      color:  #2C514C;
      font-size: 18px;
      font-weight: bold;
      cursor: pointer;
      transition: all .1s ease-in-out;
    }
      
      .mybuttonCancel:hover {
        color: #fff;
        background-color: red;
        border-color: red;
        transition: all .1s ease-in-out;
      }
      
.attendanceRecord{
    color: #2C514C;
    font-weight: bold;
    background-color: #fff;
    border-radius: 18px;
    border: solid 2px  #2C514C;
    width: 100%;
}

@media (min-width: 768px){

  .attendanceRecord {
 
  width: 80%;
}
}